.root {
  background: #12102d;
  padding: 60px 0;
}

.subTitle,
.title {
  text-align: right;
  color: #fff;
}

.subTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 50px;
}

@media screen and (max-width: 420px) {
  .title {
    font-size: 30px;
  }
}
