.root {
  margin-top: 100px;
  margin-bottom: 100px;
}
.root:first-child {
  margin-left: 0;
}
.root:last-child {
  margin-right: 0;
}

@media screen and (max-width: 460px) {
  .root {
    margin-top: 60px;
    margin-bottom: 10px;
  }
}
