.root {
  flex-basis: 33%;
  box-sizing: border-box;
  padding: 10px;
}

.wrapper {
  border: 1px solid #0000003b;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.icon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.icon img {
  object-fit: contain;
}
.title {
  color: #120f2d;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}

.text {
  font-size: 19px;
  line-height: 28px;
  color: #120f2d;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.button {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #2878eb;
}
.button span {
  margin-left: 5px;
  transition: all 0.5s;
}

/* hover effects */
.wrapper,
.title,
.text,
.button,
.icon img {
  transition: all 1s;
}
.wrapper:hover {
  background: #2878eb;
  color: #fff;
}
.wrapper:hover .title,
.wrapper:hover .text,
.wrapper:hover .button {
  color: #fff;
}

.wrapper:hover .icon img {
  filter: brightness(100);
}

.button:hover span {
  margin-left: 10px;
}
