.root {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 670px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 776px) {
  .root {
    height: 470px;
  }
}
@media screen and (max-width: 360px) {
  .root {
    height: 500px;
  }
}
