.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.content {
  flex-basis: 60%;
  box-sizing: border-box;
}

.text {
  color: #fff;
  font-size: 18px;
  line-height: 29px;
  text-transform: capitalize;
  margin-bottom: 25px;
}

@media screen and (max-width: 1280px) {
  .imageWrapper {
    width: 40%;
  }
}

@media screen and (max-width: 776px) {
  .text {
    font-size: 15px;
  }
}
@media screen and (max-width: 460px) {
  .root {
    flex-direction: column;
  }
  .imageWrapper {
    display: none;
  }
}
