.root {
  display: flex;
  flex-wrap: wrap;
}

.isHome > div {
  flex-basis: 25%;
}

.isHome img {
  height: 180px;
}

@media screen and (max-width: 992px) {
  .isHome > div {
    flex-basis: 50%;
  }
  .isHome img {
    height: 220px;
  }
}

@media screen and (max-width: 992px) {
  .isHome > div {
    flex-basis: 100%;
  }
}
