.allCourses {
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
}
.allCourses > div {
  flex-basis: 33%;
}

.list {
  display: flex;
}
.pagination {
  padding-top: 30px;
  padding-bottom: 30px;
}

.item {
  background: #120f2d;
  color: #fff;
  padding: 12px 18px;
  list-style: none;
  margin-right: 15px;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.item:last-child {
  margin-right: 0;
}

.item:hover {
  cursor: pointer;
  background: #2878eb;
}

.active {
  background: #2878eb;
}

.list button {
  font-size: inherit;
  border: none;
  outline: none;
}
.list button:disabled {
  cursor: not-allowed;
  background: grey;
}
