.root {
  padding: 100px 0;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.subTitle,
.title {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.subTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.title {
  font-size: 45px;
  margin-bottom: 50px;
}
