.root {
  flex-basis: 50%;
  box-sizing: border-box;
  padding-right: 20px;
}

.text {
  color: #120f2d;
  line-height: 30px;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 25px;
}

@media screen and (max-width: 776px) {
  .root {
    order: 2;
    margin-top: 20px;
  }
}
