.group {
  flex-basis: 50%;
  margin: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.input {
  padding: 17px 14px;
  border: 1px solid #e2e2e2;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  color: #120f2d;
  border-radius: 4px;
}

.nameWrapper {
  display: flex;
  flex-wrap: wrap;
}

.button {
  color: #fff;
  outline: none;
  border: none;
  padding: 13px 19px;
  font-size: 19px;
  background-color: #2878eb;
  border-radius: 4px;
  margin-left: 10px;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background-color: #0558d0;
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .group {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 360px) {
}
