.root {
  padding: 100px 0;
  background: #f6f6f6;
}

.all {
  display: flex;
  flex-wrap: wrap;
}

.all > div {
  flex-basis: 50%;
  padding: 0 10px;
  box-sizing: border-box;
}

/* pagination */
.pagination {
  padding-top: 60px;
  padding-bottom: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background: #120f2d;
  color: #fff;
  padding: 12px 18px;
  list-style: none;
  margin-right: 15px;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.item:last-child {
  margin-right: 0;
}

.item:hover {
  cursor: pointer;
  background: #2878eb;
}

.active {
  background: #2878eb;
}

.list button {
  font-size: inherit;
  border: none;
  outline: none;
}
.list button:disabled {
  cursor: not-allowed;
  background: grey;
}

@media screen and (max-width: 776px) {
  .all > div {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 460px) {
  .isHome > div {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .isHome > div:last-child {
    margin-bottom: 0;
  }
}
