.root {
  padding: 100px 0;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  text-align: center;
}

.subTitle {
  font-size: 19px;
  width: 70%;
  margin: auto;
  line-height: 29px;
  color: #fff;
  margin-bottom: 40px;
}

.video {
  background: #f8f8f8;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 12px solid #c7b1ec;
  box-sizing: border-box;
  cursor: pointer;
}
.icon {
  font-size: 25px;
  color: #2878eb;
}

@media screen and (max-width: 460px) {
  .subTitle {
    width: 100%;
  }
}
