.title {
  color: #fff;
  font-size: 26px;
  margin-bottom: 30px;
}
.images {
  display: flex;
  flex-wrap: wrap;
}

.imgWrapper {
  flex-basis: 50%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 6px;
}
.imageContainer {
  overflow: hidden;
  height: 100px;
}

.imageContainer img {
  transform: scale(1.2);
}
