.root {
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.root > div {
  flex-basis: 20%;
  box-sizing: border-box;
  padding: 0 5px;
}

.root > div:first-child {
  flex-basis: 30%;
}

.root > div:last-child {
  flex-basis: 30%;
}

@media screen and (max-width: 992px) {
  .root > div {
    flex-basis: 25%;
    text-align: center;
  }
  .root > div:first-child {
    flex-basis: 40%;
    text-align: left;
  }
  .root > div:last-child {
    flex-basis: 100%;
    margin-top: 40px;
  }
}
@media screen and (max-width: 460px) {
  .root > div {
    flex-basis: 50%;
    text-align: center;
  }
  .root > div:first-child {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .root {
    padding-bottom: 0;
  }
}
